# Do not merge `pom.xml` from older version, as it will typically conflict

pom.xml merge=ours

#
# https://help.github.com/articles/dealing-with-line-endings/
#
# These are explicitly windows files and should use crlf
*.bat           text eol=crlf
