# use glob syntax.
syntax: glob
*.class
*~
*.bak
*.off
*.old
.DS_Store

# building
target

# Eclipse
.classpath
.project
.settings

# IDEA
.idea
*.iml
*.ipr
*.iws
/target
/.gradle/
/out/

# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
